################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EduApi/Log/*.*

/EduApi/EduApi.csproj.user
/EduApi/obj
/EduApi/bin
/.vs/EduApi
/Model/obj
/Model/bin
/EduServices/obj
/EduServices/bin
/EduTest/bin
/EduTest/obj
/.vs
/EduBL/obj
/Core/bin
/Core/obj
/EduTest/bin
/EduTest/obj
/EduCore/obj
/EduCore/bin
/EduCore/obj
/EduCore/bin
/EduFacade/bin
/EduFacade/obj
/EduRepository/bin
/EduRepository/obj
/EduJob/bin
/EduJob/obj
/EduTypes/obj
/EduTypes/bin
/EduBL/bin/Debug/netcoreapp2.2
/EduBL/obj
/Configuration/bin
/Configuration/obj
/Integration/bin
/Integration/obj
/WebModel/bin
/WebModel/obj
/EduApi/wwwroot/FileRepository/
/data/FileRepository/
/EduApi/Properties/PublishProfiles/Relese.pubxml.user
/EduApi/Properties/PublishProfiles/Relese.pubxml
/EduApi/Properties/PublishProfiles/Production.pubxml.user
/EduApi/Properties/PublishProfiles/Production.pubxml
/EduApi/appsettings.production.json
/BeTest/bin/
/BeTest/obj/
/test/Logs/
/CodebookService/obj/
/AdminService/bin/
/AdminService/obj/
/BankOfQuestionService/bin/
/BankOfQuestionService/obj/
/CodebookService/bin/
/CourseMaterialService/bin/
/CourseMaterialService/obj/
/CourseService/bin/
/CourseService/obj/
/CourseStudyService/bin/
/CourseStudyService/obj/
/Hangfire/bin/
/Hangfire/obj/
/HangfireService/bin/
/HangfireService/obj/
/OrganizationService/bin/
/OrganizationService/obj/
/PageService/bin/
/PageService/obj/
/SetupService/bin/
/SetupService/obj/
/UserService/bin/
/UserService/obj/
/AdminApi/bin/
/AdminApi/obj/
/SetupApi/obj/
/SetupApi/bin/
/BankOfQuestionApi/obj/
/HangfireApi/obj/
/CourseMaterialApi/obj/
/CourseApi/obj/
/CodebookApi/obj/
/OrganizationApi/obj/
/StudyZoneApi/obj/
/UserApi/obj/
/UserApi/bin/
/OrganizationApi/bin/
/CourseMaterialApi/bin/
/CourseApi/bin/
/CodebookApi/bin/
/BankOfQuestionApi/bin/
/HangfireApi/bin/
/StudyZoneApi/bin/
/SwaggerIntegration/bin/
/SwaggerIntegration/obj/
